Language: Cpp

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -2
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: None
LambdaBodyIndentation: Signature

# Braces
BreakBeforeBraces: Allman

# Line length
ColumnLimit: 140

# Alignment
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments: true
PointerAlignment: Left
DerivePointerAlignment: false

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInParentheses: false
SpaceAfterCStyleCast: false

# Breaking long lines
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
AlwaysBreakTemplateDeclarations: Yes

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Misc
Cpp11BracedListStyle: true
FixNamespaceComments: true
ReflowComments: true
MaxEmptyLinesToKeep: 2
